.box1 {
    width: 200px;
    height: 200px;
    background-color: darkslateblue;
    padding: 100px;
}
.box2 {
    width: 200px;
    height: 200px;
    margin-left: 200px;
    background-color: lightblue
}
.box3 {
    width: 200px;
    height: 200px;
    margin-left: 400px;
    background-color: lavenderblush;
}