body{
    background-color: beige;
}
.reg{
    width: 900px;
    height: 1200px;
    background-color: darkolivegreen;
    border-radius: 20px;
position: absolute;
left: 1250px;
top: 250px;
}
.int{
    width: 600px;
    height: 700px;
    position: absolute;
    left: 135px;
    top: 100px;
}
.spr{
    width: 380px;
    height: 100px;
    position: absolute;
    left: 130px;
    top: 130px;
    background-color: chartreuse;
    border-radius: 15px;
}
.sp{
    width: 380px;
    height: 100px;
    position: absolute;
    left: 130px;
    top: 290px;
    background-color: chartreuse;
    border-radius: 15px;
}
h1{
    color: cornflowerblue;
    position: absolute;
    left: 380px;
    top: 140px;
    
}
h2{
    color: cornflowerblue;
    position: absolute;
    left: 380px;
    top: 330px; 
}
.qw{
    font-size: 55px;
    background-color: lightseagreen;
    border: 1px solid lightseagreen;
    border-radius: 10px;
    position: absolute;
    left: 1625px;
    top: 950px;
    cursor: pointer;
}
